.swiper-wrapper {
  margin-bottom: 52px;
}

.swiper-horizontal > .swiper-pagination-bullets {
    width: auto;
    position: relative;
    display: inline-block;
}

.swiper-horizontal > .swiper-pagination-bullets::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(50%);
    height: 2px;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    border: 2px solid hsl(0, 0%, 100%);
    background-color: hsl(217, 18%, 14%);
    position: relative;
    z-index: 1;
    opacity: 1;
    margin: 0;
    transition: all 0.3s cubic-bezier(0.3,0,0.3,1);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
    margin-right: 20px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active {
    background-color: hsl(164, 60%, 50%);
    width: 13px;
    height: 13px;
    top: 2px;
}