.animated-border-box,
.animated-border-box-glow {
  position: relative;
  overflow: hidden;
  z-index: 0;
  /* Border Radius */
  border-radius: 100px;
}

.animated-border-box-glow {
  overflow: hidden;
  /* Glow Blur */
  filter: blur(20px);
}

.animated-border-box:before,
.animated-border-box-glow:before {
  content: '';
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
  width: 99999px;
  height: 99999px;
  background-repeat: no-repeat;
  background-position: 0 0;
  /*border color, change middle color*/
  background-image: conic-gradient(
    rgba(0, 0, 0, 0.9),
    #33cca3,
    rgba(255, 255, 255, 0.11) 25%
  );
  /* change speed here */
  animation: rotate 4s linear infinite;
}

.animated-border-box:after {
  content: '';
  position: absolute;
  z-index: -1;
  /* border width */
  left: 5px;
  top: 5px;
  /* double the px from the border width left */
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  /*bg color*/
  background: hsl(217, 18%, 14%);
  /*box border radius*/
  border-radius: 12px;
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

.animated-border-box del{
    color: #676767;
}

.pricing__item del{
    color: #676767;
}

.btn__start:hover > span,
.btn__start:hover:nth-child(1) {
  transform: scale(1.1);
  transition: all 1s cubic-bezier(0.3, 0, 0.3, 1);
}

.btn__start:hover > span > span {
  color: hsl(0, 0%, 92%);
  transition: all 1s cubic-bezier(0.3, 0, 0.3, 1);
}
